body{
    background-image: url("Images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    background-color: white;
    border-radius: 5px;
    margin-top:10px;
    width: 70%;
    position: relative;
    height: 100%;
    padding: 0px;
    margin-bottom: 10px;
}

.heading-font{
    margin-top: 20px;
    font-size: 20px;
}

.logo{
    padding: 30px 0px 10px 10px;
}

.banner{
    margin-left: 40px;
    margin-top: 20px;
}

.my-button{
    margin-top: 20px;
    margin-left: 30%;
    position: absolute;
    border-radius: 50px;
    background-image: linear-gradient(0deg,#619EE3,#A3DFFE);
    color:#37567F;
}

.features-title{
    font-size: 18px;
    font-weight: bold;
}

.button-row{
    display: flex;
    margin-top:10px;
}

.blue-italic-text{
    font-style: italic;
    color: #5790DC;
    font-size: 17px;
    padding-top: 30px;
}

.bottom{
    margin-top: 10%;
    background-color: #8D8D8D;
    width: 100%;
}

.margin-l-15{
    margin-left: 15px;
}

.author{
    margin-left:75%;
    margin-top: -10px;
    font-size: 13px;
}
